* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c2230;
  background-image: url(./images/bg-curvy-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 2vw 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head {
  display: flex;
}

header a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

main {
  padding: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.big-container {
  margin: 12%;
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.big-container h1 {
  margin: 20px;
  color: white;
  text-align: center;
}
.big-container p {
  width: 70%;
  color: white;
  text-align: center;
}

.big-container button {
  margin: 20px;
  color: white;
  background-color: #4ec3d4;
  border-radius: 20px;
  width: 26%;
  height: 2.4vw;
}

.card {
  display: flex;
}
.card-1,
.card-2 {
  text-align: center;
}
.card-1 h2 {
  margin: 10px;
  color: white;
  font-size: 25px;
}
.card-1 p {
  color: white;
  font-size: 17px;
  margin: 0 auto;
  width: 70%;
}

.card-1 div {
  margin: 50px;
}
.card-2 h2 {
  margin: 10px;
  color: white;
  font-size: 25px;
}
.card-2 p {
  color: white;
  font-size: 17px;
  margin: 0 auto;
  width: 70%;
}

.card-2 div {
  margin: 50px;
}

.pro-right {
  display: flex;
}

.produc {
  display: flex;
  flex-direction: column;
}

.produc h3 {
  margin: 16px;
  color: white;
  font-size: 50px;
}

.produc p {
  margin: 20px;
  font-size: 19px;
  color: white;
}

h4::after {
  margin-top: 10px;
  width: 155px;
  border-radius: 50px;
  height: 1px;
  background-color: aqua;
  display: block;
  content: "";
}

h4 {
  padding: 12px;
  color: aqua;
  font-size: 19px;
}

.arrow {
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  gap: 50px;
  padding: 70px;
}

.cards img {
  border-radius: 50%;
  width: 50px;
  margin-left: 4px;
}

.img-2 {
  position: absolute;
  top: 127vw;
}
.cards-1 {
  border-radius: 6px;
  background-color: #1d2f58;
  overflow: hidden;
  position: relative;
}

.info {
  padding: 10px;
  gap: 10px;
  color: white;
  align-items: center;
  display: flex;
}
.cards-1 p {
  color: white;
  padding: 30px;
}

.cards-2 {
  border-radius: 6px;
  background-color: #1d2f58;
}

.cards-2 p {
  color: white;
  padding: 30px;
}
.cards-3 {
  border-radius: 6px;
  background-color: #1d2f58;
}

.cards-3 p {
  color: white;
  padding: 30px;
}

footer {
  padding: 0 10vw;
  padding-top: 10vw;
  position: relative;
  background-color: #1f3b7c;
}

.footer-end {
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.location {
  display: flex;
}

.img-3 {
  padding-right: 10px;
  height: 30px;
}
.location p {
  width: 15vw;
}
.spanik {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search {
  color: white;
  border-radius: 10px;
  left: 30vw;
  background-color: #26324f;
  bottom: 70%;
  position: absolute;
  text-align: center;
  width: 40%;
  z-index: 3;
  padding: 20px;
}

.search h5 {
  font-size: 50px;
  padding: 20px;
}
.search p {
  font-size: 15px;
  padding: 20px;
}

input {
  width: 50%;
  padding: 13px;
  border-radius: 20px;
}

.but-1 {
  background-color: #44b3d1;
  color: white;
  width: 25%;
  padding: 12px;
  border-radius: 20px;
}
nav a {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
}

@media (max-width: 1400px) {
  footer {
    padding: 80vw 6vw 30px;
  }

  .search {
    position: static;
    margin: 0 auto;
    width: 40vw;
    margin-bottom: 85px;
    margin-top: -90vw;
  }

  .cards {
    width: 100%;
    padding: 0;
    padding-bottom: 30vw;
    padding-top: 10vw;
  }
}

@media (max-width: 900px) {
  .big-container {
    width: 100%;
  }

  .big-container img {
    width: 100%;
  }

  .big-container button {
    font-size: 18px;
    width: 65%;
    height: 10vw;
  }

  .big-container h1 {
    font-size: 36px;
  }

  .card {
    flex-direction: column;
  }

  .pro-right {
    flex-direction: column;
    width: 100%;
  }

  .pro-right img {
    padding: 0;
    width: 100%;
  }

  .pro-right h3 {
    font-size: 30px;
    text-align: center;
  }

  .pro-right p {
    width: 100%;
  }

  .img-1 {
    display: none;
  }

  .cards {
    width: 100%;
    flex-direction: column;
    padding: 0;
    padding-bottom: 30vw;
    padding-top: 20vw;
  }

  footer {
    padding: 80vw 6vw 30px;
  }

  .search {
    position: static;
    width: 100%;
    margin-bottom: 85px;
    margin-top: -106vw;
  }

  .search h5 {
    font-size: 24px;
    padding: 10px;
  }

  .search p {
    font-size: 14px;
    padding: 10px;
  }

  .search input {
    width: 70%;
    margin-bottom: 15px;
  }

  .but-1 {
    width: 70%;
  }

  .footer-end {
    flex-direction: column;
    gap: 20px;
    padding: 0;
    padding-top: 10vw;
  }

  .location {
    align-items: flex-start;
  }

  .location p {
    width: 100%;
  }

  .spanik {
    gap: 10px;
  }

  nav a {
    padding-bottom: 8px;
  }
}
